@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Playpen Sans", cursive;
  background-color: rgb(48, 106, 154);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.log-container {
  flex: 2;
  display: flex;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.log-container > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: skyblue;
  gap: 0.5rem;
}

.log-container > div.win {
  margin-left: 200px;
}

.log-container > div.lose {
  margin-right: 200px;
}

.game-container {
  flex: 6;
  display: flex;
}

.versus {
  display: flex;
}

.versus > div > img {
  width: 55%;
}

.versus > div > img.player-hand {
  align-self: flex-start;
}

.versus > div > img.comp-hand {
  align-self: flex-end;
}

.player-zone {
  display: flex;
  flex-direction: column;
}

.player-zone > p {
  margin-left: 50px;
  color: skyblue;
}

.comp-zone {
  display: flex;
  flex-direction: column;
}

.comp-zone > p {
  align-self: flex-end;
  margin-right: 50px;
  color: skyblue;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dotted lightblue;
  border-radius: 0.5rem;
}

.result span {
  color: lightskyblue;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 1.7px 1.7px 1px lightblue;
}

.character-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  color: steelblue;
  padding: 0.5rem;
  gap: 1rem;
}

.character {
  display: flex;
  gap: 1rem;
}

.character > div {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: lightslategray;
  background-color: lightblue;
  cursor: pointer;
  animation: 1s;
}

.character > div:hover {
  transform: scale(1.1);
}

.character > div:active {
  transform: scale(1);
}
